.header-promotion{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    /* font-size: 0.8rem; */
    letter-spacing: 1.8px;
    font-family: "AdihausDIN",sans-serif;
    padding: 7px;
    font-weight: 700;
}